$white:white;
$grey:#999;
$black:black;
$colors:$white,$grey,$black;
$bgMain:#F7F2F6;
$bgCard:#EAE4E9;
$bgBlack:#303030;
$bgGradient:linear-gradient(90deg, #D441FF, #FF528F);
$weight:100,200,300,400,500,600,700,800,900;
$font-sizes:12,14,16,18,20,22,24,26,28;
$gaps:10,20,30,40;
$directions: top,left,right,bottom;
$radius:14,21,28;
